

.title {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: 'Comic Sans MS';
}

.title span{
  font-weight: bold;
}

.header a {
  text-decoration: none;
  color: #FFF;
  font-family: 'Comic Sans MS';
  background: #B4681F;
  width: 4.5rem;
  text-align: center;
  border-radius: 8px;
  margin-left: 15px;
}

.header a:hover {
  background: white;
  color: #B4681F;
}

.header {
  background-color: #FFF;
  width: 100%;
  height: 56px;
  line-height: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.title {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: 'Comic Sans MS';
  color: #B4681F;
}

.title span{
  font-weight: bold;
}

.title-container {
  flex: 20;
  margin-left: 1.5rem;
}

.links-container {
  flex: 2;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.links-container a:hover{
  color: #757575;
  font-weight: bolder;
  transform: scale(1.05);

}

@media only screen and (max-width: 600px) {
  .title-container {
    flex: 4;
    margin-left: 0;
  }
  .links-container {
    flex: 2;
    padding-left: 0.7rem;
  }
  .header a {
    font-size: 0.8rem;
    width: 3rem;
  }
}
@media only screen and (max-width: 800px) {
  .title-container {
    flex: 4;
    margin-left: 0;
  }
  .links-container {
    flex: 2;
    padding-right: 0.1rem;
  }
}