.page-title {
    font-family: 'system-ui';
    color: #676565;
    text-align: center;
    margin-top: 1rem;
  }

  .book-container {
    display: flex;
    margin: 2rem 20rem;
    flex-direction: column;
    justify-content: center;
  }

  @media only screen and (max-width: 600px) {
    .book-container {
      margin: 0.3rem 1.2rem;
    }
  }
  @media only screen and (max-width: 800px) {
    .book-container {
      margin: 0.3rem 1.2rem;
    }
  }