.form {
    display: flex;
  }
  
  .form input[type='text'] {
    flex: 18;
    padding: 10px;
  }
  
  .form input[type='submit'] {
    flex: 2;
    background: #757575;
    color: #fff;
    padding: 10px;
  }
  .form input[type='submit']:hover {
    opacity: 0.7;
    cursor: pointer;
  }